{% load url from future %}
{% load i18n %}
{% load avatar_tags %}

<li>
    <a href="login" class="signin">
        <span>
        {% if user.is_authenticated %}
            <span style="text-transform:lowercase;">{{ user.email }}</span>
        {% else %}
            <li><a href="{% url "auth_login" %}"> Login </a></li>
            <li><a href="{% url "registration_register" %}"> {% trans "Register" %} </a></li>
        {% endif %}
        </span>
    </a>
    {% if user.is_authenticated %}
    <fieldset id="signin_menu">
        <div>
          {% avatar user %}
        </div>
        <div>
        <a href="{% url "avatar_change" %}">Change your avatar</a>
        </div>
<!--        <div style="margin-bottom:5px;" >
            {# {{ user.get_full_name }} #}
        </div>
        <div style="margin-bottom:5px;">
            {# {{ user.email }} #}
        </div>
        <br/><br/><br/>
-->
        <div>
            <a class="login_button"  href="{% url "auth_logout" %}">Logout</a>
            <a class="login_button"  href="{% url "auth_password_change" %}">{% trans "Change password" %}</a>
        </div>
    {% endif %}
    </fieldset>
</li>
