{% load url from future %}
{% load i18n %}

<li>
    <a href="login" class="signin">
        <span>
        {% if user.is_authenticated %}
            <span style="text-transform:lowercase;">{{ user.email }}</span>
        {% else %}
            <li><a href="{% url "auth_login" %}"> Login </a></li>
            <li><a href="{% url "registration_register" %}"> {% trans "Register" %} </a></li>
        {% endif %}
        </span>
    </a>
    {% if user.is_authenticated %}
    <fieldset id="signin_menu">
        <div>
        {% if user.userprofile.avatar %}
            <img class="userprofile_icon" src="{# {{ user.userprofile.avatar.url }} #}" />
        {% else %}
            <img class="userprofile_icon" src="{# {{ STATIC_PREFIX }}inail/images/login/loginuser_icon.png #}" />
        {% endif %}
        </div>
        <div style="margin-bottom:5px;" >
            {# {{ user.get_full_name }} #}
        </div>
        <div style="margin-bottom:5px;">
            {# {{ user.email }} #}
        </div>
        <br/><br/><br/>
        <div style="float: left;">
            <a class="login_button"  href="{% url "auth_logout" %}">Logout</a>
            <a class="login_button"  href="{% url "auth_password_change" %}">{% trans "Change password" %}</a>
        </div>
    {% endif %}
    </fieldset>
</li>
