# Django 1.4 
django >=1.4.1, <1.5

django-registration>=0.8

# C extensions
# please consider installing those sistem-wide with "apt-get install python-imaging python-lxml"
# PIL
# lxml
# python-psycopg2

# South : migration support
south

# CMS itself
django-cms==2.3.5

# CMS plugins
easy-thumbnails >= 1.0
-e git+http://github.com/stefanfoulis/django-filer.git@develop#egg=filer
-e git+http://github.com/stefanfoulis/cmsplugin-filer.git@develop#egg=cmsplugin-filer
-e git+http://github.com/MPBAUnofficial/cmsplugin_image_gallery.git#egg=cmsplugin-image-gallery
-e git+http://github.com/MPBAUnofficial/cmsplugin_newswithimages.git#egg=cmsplugin_newswithimages
-e git+http://github.com/MPBAUnofficial/cmsplugin_contacts.git#egg=cmsplugin_contacts

# Raven
raven

