{% extends "base.html" %}
{% load i18n %}
{% load sekizai_tags %}

{% block page_content %}
<h2>Errore durante l'attivazione</h2>
<p>Siamo spiacenti ma la chiave utilizzata per attivare l'account risulta non valida. Questo puo' avvenire quando la chiave risulta <b>scaduta</b> (trascorsi 7 giorni dal momento della registrazione) oppure se <b>gia' utilizzata.</b></p>
<p>Consigliamo di provare ad effettuare il login e in caso di ulteriori problemi contattare il supporto tecnico all'indirizzo droghetti@fbk.eu.</p>
{% endblock %}

